@use '../../styles/vars';

.Favorites {
  margin: 1em 0 3em 0;
  overflow-x: auto;
  .Favorites__table {
    text-align: left;
    .Favorites__header {
      .Favorites__header-row {
        
        .Favorites__header-cell {
          padding: 0em vars.$gutterMd vars.$gutterXs 0;
          font-weight: 700;
        }
      }
    }

    .Favorites__body {
      .Favorites__body-row {

        .Favorites__body-cell {
          vertical-align: top;
          padding: 1em 2em 1em 0;

          .Favorites__categories {
            display: flex;
            flex-wrap: wrap;
            gap: vars.$gutterSm;
          }

          .Favorites__delete-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(212, 58, 58);
            border: 0;
            border-radius: 5px;
            height: 30px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            outline: 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all .3s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            transition-duration: 0.4s;
          }
      
          .Favorites__delete-button:hover {
            background-color: rgb(209, 109, 109);
          }
        }
      }

      .Favorites__body-row:last-child {
        border-bottom: none;
      }
    }
  }
}
