@use '../../styles/vars';

.Favorites {
  margin: 1em 0 3em 0;
  .Favorites__table {
    text-align: left;
    .Favorites__header {
      .Favorites__header-row {
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
        
        .Favorites__header-cell {
          padding: 1em 0;
        }
      }
    }

    .Favorites__body {
      .Favorites__body-row {
        border-bottom: 1px solid rgb(255, 255, 255, 0.3);

        .Favorites__body-cell {
          padding: 1em 2em 1em 0;
          word-break: break-all;

          .Favorites__categories {
            display: flex;
            flex: wrap;
          }

          .Favorites__delete-button {
            background-color: rgb(212, 58, 58);
            border: 0;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            outline: 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all .3s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            transition-duration: 0.4s;
          }
      
          .Favorites__delete-button:hover {
            background-color: rgb(209, 109, 109);
          }
        }
      }

      .Favorites__body-row:last-child {
        border-bottom: none;
      }
    }
  }
}
