@use 'src/styles/vars';

.HomeMessage {
  margin: 0em auto vars.$gutterXl;
  max-width: 800px;
  padding: 0em vars.$gutterXl vars.$gutterXl;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);

  &__title {
    margin-bottom: vars.$gutterXs;
  }

  &__content {
    text-align: left;

    .HomeMessage__inscription-link {
      text-decoration: underline;
      color: rgb(255, 255, 255, 0.8);
    }
  }
}
