@use '../../styles/vars';

.anecdote {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0em vars.$gutterLg;

  &__title {
    font-size: vars.$fsH2Lg;
    text-align: left;
    margin-bottom: vars.$gutterMd;
  }

  &__categories {
    margin-bottom: vars.$gutterMd;
  }

  &__publication {
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    font-size: vars.$fsBody;
    text-align: left;
    margin-bottom: vars.$gutterMd;
  }

  &__middle-part {
    display: flex;
    margin-bottom: vars.$gutterLg;

    .anecdote__voter {
      display: flex;
      flex-direction: column;

      .anecdote__upvote, .anecdote__downvote {
      }

      .anecdote__vote-count {
        margin: vars.$gutterSm 0em vars.$gutterSm;
      }
    }

    .anecdote__content {
      font-size: vars.$fsBody;
      line-height: vars.$lhBodyLg;
      text-align: left;
      margin-left: vars.$gutterMd;
    }
  }
  
  .anecdote__info {
    display: flex;
    justify-content: right;
    margin-bottom: vars.$gutterLg;

    .anecdote__knew {
      border: 1px solid green;
      color: green;
      background-color: #FFF;
      border-radius: 6px;
      padding: vars.$gutterSm / 2 vars.$gutterSm;
      font-size: vars.$fsBody;
      margin-right: vars.$gutterSm;
    }
      
    .anecdote__didnt-know {
      border: 1px solid red;
      color: red;
      background-color: #FFF;
      border-radius: 6px;
      padding: 0.3em;
      font-size: 1.1em;
    }
  }

  .anecdote__sources {
    display: flex;
    flex-direction: column;
    margin-bottom: vars.$gutterLg;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    padding-top: vars.$gutterMd;

    .anecdote__sources-title {
      margin-right: 1em;
      font-size: vars.$fsH3Lg;
      margin-bottom: vars.$gutterMd;
    }

    .anecdote__source-list {
      list-style: inside;

      .anecdote__source-item {
        margin-bottom: vars.$gutterSm;
        color: rgb(255, 255, 255, 0.6);
      }

      .anecdote__source-item:hover {
        opacity: 0.5;
      }
    }
  }

  .anecdote__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: vars.$gutterLg;
    padding-top: vars.$gutterMd;
    border-top: 1px solid rgb(255, 255, 255, 0.5);

    .anecdote__nav-link {
      border: 1px solid black;
      border-radius: 5px;
      background-color: #FFF;
      padding: vars.$gutterSm / 2 vars.$gutterSm;
      }
  }
  

}

@media (max-width: 425px) {
  .anecdote__header {
    margin-left: 2em;
  }
  .know {
    margin-left: 4em;
    margin-right: 2em;
  }
  .didnt__know {
    margin-left: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  .source__link {
    border: 1px solid black;
    max-width: 15%;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
  }
  .source__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
  }
  .info__anecdote {
    display: flex;
    justify-content: center;
  }
  .btn__prev__next {
    display: flex;
    justify-content: space-evenly;
  }
  .previous {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFF;
    margin-left: 2em;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    }
  .next {
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
  }

};

@media (max-width: 425px) {
  .container__content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    width: 85%;
    margin-left: 4em;
  }
};


