@use '../../styles/vars';

.Anecdote {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0em 3em;

  &__title {
    text-align: left;
    margin-bottom: 2em;
  }

  &__categories {
    margin-bottom: 2em;
  }

  &__top-part {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;

    .Anecdote__publication {
      color: rgba(255, 255, 255, 0.7);
      font-style: italic;
      text-align: left;
      margin-right: 1em;
    }
  }

  &__middle-part {
    display: flex;
    margin-bottom: 3em;

    .Anecdote__voter {
      display: flex;
      flex-direction: column;
      padding-top: vars.$gutterXs;

      .Anecdote__upvote, .Anecdote__downvote {
      }

      .Anecdote__vote-count {
        text-align: center;
        margin: 1em 0em 1em;
      }
    }

    .Anecdote__content {
      text-align: left;
      margin-left: 2em;
      //white-space: pre;
    }
  }
  
  .Anecdote__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: vars.$gutterSm;
    margin-bottom: 3em;

    .Anecdote__knew {
      border: none;
      background-color: rgb(52, 109, 52);
      color: white;
      border-radius: 6px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: vars.$gutterXs vars.$gutterSm;
    }
      
    .Anecdote__didnt-know {
      border: none;
      background-color: rgb(160, 52, 52);
      color: white;
      border-radius: 6px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: vars.$gutterXs vars.$gutterSm;
    }
  }

  .Anecdote__sources {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    padding-top: 2em;

    .Anecdote__sources-title {
      margin-right: vars.$gutterSm;
      margin-bottom: vars.$gutterSm;
    }

    /* .Anecdote__source-list {
      list-style: inside;

      .Anecdote__source-item {
        margin-bottom: 1em;
        color: rgb(255, 255, 255, 0.6);
      }

      .Anecdote__source-item:hover {
        opacity: 0.5;
      }
    } */
    
    .Anecdote__source-link {
      margin-bottom: 1em;
      color: rgb(255, 255, 255, 0.6);
    }

    .Anecdote__source-link:hover {
      opacity: 0.5;
    }

  }

  .Anecdote__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3em;
    padding-top: 2em;
    border-top: 1px solid rgb(255, 255, 255, 0.5);

    .Anecdote__nav-link {
      border: none;
      border-radius: 5px;
      background-color: transparent;
      padding: 1em / 2 1em;
      height: 35px;
      color: white;
      background-color: #0078d0;
      box-shadow: 2px 2px 2px 1px #0078d0;
      font-weight: 700;
    }

    /* .Anecdote__nav-link--left {
      background-color: rgba(30, 200, 130, 0.6);
    }

    .Anecdote__nav-link--right {
      background-color: rgba(30, 200, 130, 0.6);
    } */
  }
}

.Anecdote__server-error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: vars.$gutterMd;
}
