@use '../../styles/vars';

.Anecdote {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0em 3em;

  &__title {
    text-align: left;
    margin-bottom: 2em;
  }

  &__categories {
    margin-bottom: 2em;
  }

  &__top-part {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2em;

    .Anecdote__publication {
      color: rgba(255, 255, 255, 0.7);
      font-style: italic;
      text-align: left;
      margin-right: 1em;
    }
  }

  &__middle-part {
    display: flex;
    margin-bottom: 3em;

    .Anecdote__voter {
      display: flex;
      flex-direction: column;

      .Anecdote__upvote, .Anecdote__downvote {
      }

      .Anecdote__vote-count {
        text-align: center;
        margin: 1em 0em 1em;
      }
    }

    .Anecdote__content {
      text-align: left;
      margin-left: 2em;
    }
  }
  
  .Anecdote__info {
    display: flex;
    justify-content: right;
    margin-bottom: 3em;

    .Anecdote__knew {
      border: 1px solid green;
      color: green;
      background-color: #FFF;
      border-radius: 6px;
      padding: 1em / 2 1em;
      margin-right: 1em;
    }
      
    .Anecdote__didnt-know {
      border: 1px solid red;
      color: red;
      background-color: #FFF;
      border-radius: 6px;
      padding: 0.3em;
    }
  }

  .Anecdote__sources {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    padding-top: 2em;

    .Anecdote__sources-title {
      margin-right: 1em;
      margin-bottom: 2em;
    }

    /* .Anecdote__source-list {
      list-style: inside;

      .Anecdote__source-item {
        margin-bottom: 1em;
        color: rgb(255, 255, 255, 0.6);
      }

      .Anecdote__source-item:hover {
        opacity: 0.5;
      }
    } */
    
    .Anecdote__source-link {
      margin-bottom: 1em;
      color: rgb(255, 255, 255, 0.6);
    }

    .Anecdote__source-link:hover {
      opacity: 0.5;
    }

  }

  .Anecdote__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3em;
    padding-top: 2em;
    border-top: 1px solid rgb(255, 255, 255, 0.5);

    .Anecdote__nav-link {
      border: 1px solid black;
      border-radius: 5px;
      background-color: #FFF;
      padding: 1em / 2 1em;
      }
  }
  

}

@media (max-width: 425px) {
  .Anecdote__header {
    margin-left: 2em;
  }
  .know {
    margin-left: 4em;
    margin-right: 2em;
  }
  .didnt__know {
    margin-left: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  .source__link {
    border: 1px solid black;
    max-width: 15%;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
  }
  .source__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
  }
  .info__Anecdote {
    display: flex;
    justify-content: center;
  }
  .btn__prev__next {
    display: flex;
    justify-content: space-evenly;
  }
  .previous {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFF;
    margin-left: 2em;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    }
  .next {
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
  }

};

@media (max-width: 425px) {
  .container__content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    width: 85%;
    margin-left: 4em;
  }
};


