$gutterXs: 0.5em;
$gutterSm: 1em;
$gutterMd: 2em;
$gutterLg: 3em;
$gutterXl: 4em;

$headerOffset: 8em;
$headerOffsetMobile: 4em;

$footerOffset: 3em;
$footerOffsetMobile: 1em;

$fsBody: 1em;

$lhBody: 2em;

$fsH1Xl: 3em;
$fsH1Lg: 3em;
$fsH1Md: 2.5em;
$fsH1Sm: 2em;
$fsH1Xs: 2em;

$lhH1Xl: 2em;
$lhH1Lg: 2em;
$lhH1Md: 2em;
$lhH1Sm: 2em;
$lhH1Xs: 2em;

$fsH2Xl: 2.25em;
$fsH2Lg: 2.25em;
$fsH2Md: 2em;
$fsH2Sm: 1.625em;
$fsH2Xs: 1.625em;

$lhH2Xl: 2em;
$lhH2Lg: 2em;
$lhH2Md: 2em;
$lhH2Sm: 2em;
$lhH2Xs: 2em;

$fsH3Xl: 1.75em;
$fsH3Lg: 1.75em;
$fsH3Md: 1.5em;
$fsH3Sm: 1.375em;
$fsH3Xs: 1.375em;

$lhH3Xl: 2em;
$lhH3Lg: 2em;
$lhH3Md: 2em;
$lhH3Sm: 2em;
$lhH3Xs: 2em;
