$gutterSm: 1rem;
$gutterMd: 2rem;
$gutterLg: 3rem;

$bgColorLight: #3498db;
$bgColorDark: #2c3e50;

$fsBody: 1em;

$lhBodyLg: 1.375em;
$lhBodySm: 1.25em;

$fsH1Sm: 2em;
$fsH1Md: 2.5em;
$fsH1Lg: 3em;

$lhH1Lg: 1.05em;
$lhH1Sm: 1.25em;

$fsH2Lg: 2.25em;
$fsH2Md: 2em;
$fsH2Sm: 1.625em;

$lhH2Lg: 1.25em;
$lhH2Sm: 1.1384615em;

$fsH3Lg: 1.75em;
$fsH3Md: 1.5em;
$fsH3Sm: 1.375em;

$lhH3Lg: 1.25em;
$lhH3Sm: 1.13636364em;

$fsH4: 1.125em;

$lhH4Lg: 1.22222222em;
$lhH4Sm: 1.11111111em;

$fsBQLg: 1.5em;
$fsBGQSm: 1.25em;

$lhBQLg: 1.45833333em;
$lhBQSm: 1.25em;


/*
Header (Desktop, Mobile)
Home message (Title, Message)
Carousel (Title, Publication, Description, Link)
Anecdote (Title, Publication, Content, 
*/
