

@use '../../styles/vars';

.Connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 vars.$gutterMd 0 vars.$gutterMd;
  max-width: 600px;
  width: 100%;

  &__title {
    text-align: center;
    margin-bottom: vars.$gutterSm;
  }

  &__error-msg {
    color: rgb(231, 84, 84);
    font-style: italic;
  }

  .Connection__field {
    width: 100%;
    max-width: 90%;
    margin-bottom: vars.$gutterSm;

    &-input {
      width: 100%;
      padding: vars.$gutterXs;
      color: #fff;
      border-radius: 5px;
      border: 1px solid #fff;
      background: none;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    }

    &-input::placeholder {
      color: #fff;
      font-style: italic;
      transition: top 200ms ease-in, left 200ms ease-in;
    }

    &-input:focus {
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #19A4DF,
                  0 0 0.8rem #19A4DF,
                  0 0 2.8rem #19A4DF,
                  inset 0 0 1.3rem #19A4DF;
    }

    &-error {
      margin-top: vars.$gutterSm;
      color: rgb(231, 84, 84);
      font-style: italic;
    }
  }

  &__registration-msg {
    margin-top: 1em;

    .Connection__registration-link {
      text-decoration: underline;
    }

    .Connection__registration-link:hover {
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #19A4DF,
                  0 0 0.8rem #19A4DF,
                  0 0 2.8rem #19A4DF,
                  inset 0 0 1.3rem #19A4DF;
    }
  }

  &__submit-container {
    margin-top: 2em;

    .Connection__submit-button {
      padding: 0.5em;
      background: none;
      border: 1px solid #fff;
      border-radius: 5px;
      color: #fff;
    }

    .Connection__submit-button:hover {
      box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #19A4DF,
                  0 0 0.8rem #19A4DF,
                  0 0 2.8rem #19A4DF,
                  inset 0 0 1.3rem #19A4DF;
    }
  }
}

