@use '../../styles/vars';

.content-nav {
  display: flex;
  justify-content: center;
  list-style: none;

  &__item {
    margin-left: vars.$gutterSm;
    padding: vars.$gutterSm / 2;
    opacity: 1;
  }

  &__item:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  &__item--selected {
    border-top: 1px solid rgba(255, 255, 255, 0.904);
    color: rgb(255, 255, 255, 0.6);
  }
}
