@use '../../styles/vars';

.ContentNav {
  display: flex;
  justify-content: center;
  list-style: none;

  &__item {
    margin-left: 1em;
    padding: 0.5em;
    opacity: 1;
  }

  &__item:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  &__item--selected {
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #19A4DF,
              0 0 0.6rem #19A4DF,
              0 0 1rem #19A4DF,
              inset 0 0 0.8rem #19A4DF;
  }
}
