@use 'src/styles/vars';

.anecdotes {
  display: flex;
  flex-direction: column;
  padding: 0em 2em 0em;
  .anecdotes__title {
    margin-bottom: vars.$gutterXs;
    text-align: center;
  }
  .anecdotes__list {
    list-style: none;

    .anecdotes__item {
      position: relative;
      margin-bottom: 1em;
    }
  }
}
