@use 'src/styles/vars';

.anecdotes {
  display: flex;
  flex-direction: column;
  .anecdotes__title {
    font-size: vars.$fsH2Lg;
    margin-bottom: vars.$gutterLg;
  }
  .anecdotes__list {
    list-style: none;

    .anecdotes__item {
      margin-bottom: vars.$gutterSm;
    }
  }
}
