@use 'src/styles/vars';

.Header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: black;
  padding: vars.$gutterSm vars.$gutterSm vars.$gutterXs vars.$gutterSm;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  font-weight: 600;
  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0em;

    .Header__title {
      display: flex;
      align-items: center;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }
}

.Header--mobile {
  position: static;
  padding-bottom: 0.5em;
}
