@use 'src/styles/vars';

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: black;
  padding: vars.$gutterSm vars.$gutterSm 0;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0em;

    .header__title {
      display: flex;
      align-items: center;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }
}

.header--mobile {
  position: static;
  padding-bottom: vars.$gutterSm / 2;
}
