@use 'src/styles/vars';

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: vars.$gutterMd;
  margin: 0em;
  background-color: black;

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: vars.$gutterSm;
    text-align: center;
    width: 100%;
  }

  &__list--mobile {
    flex-direction: column;
    align-items: center;
  }
}
