@use '../../styles/vars';

.Page {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: vars.$headerOffset;
  padding-bottom: vars.$footerOffset;
}

.Page--mobile {
  padding-top: vars.$headerOffsetMobile;
  padding-bottom: vars.$footerOffsetMobile;
}
