@use 'src/styles/vars';

.anecdote-card {
  padding: vars.$gutterMd;
  text-align: left;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.2);

  &__title {
    font-size: 1.3em;
    margin-bottom: vars.$gutterSm;
  }

  &__tags {
    margin-bottom: vars.$gutterSm;
  }

  &__date {
    margin-bottom: vars.$gutterSm;
    font-style: italic;
    opacity: 0.8;
  }

  &__description {
    margin-bottom: vars.$gutterSm;
  }

  @media (max-width: 360px) {
    height: 800px;
  }

  @media (min-width: 360px) {
    height: 500px;
  }

  @media (min-width: 600px) {
    height: 400px;
  }
}

.anecdote-card:hover {
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #19A4DF,
              0 0 0.8rem #19A4DF,
              0 0 2.8rem #19A4DF,
              inset 0 0 1.3rem #19A4DF;
}

