@use 'src/styles/vars';

.AnecdoteCard {
  padding: 2em;
  text-align: left;
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: auto;

  &__title {
    margin-bottom: 1em;
  }

  &__tags {
    margin-bottom: 1em;
  }

  &__date {
    margin-bottom: 1em;
    font-style: italic;
    opacity: 0.8;
  }

  &__description {
    margin-bottom: 1em;
  }

  &__link {
    font-style: italic;
    color: rgb(255, 255, 255, 0.5);
  }

  &__link:hover {
    color: #fff;
    text-shadow: 0 0 1px #fff,
                 0 0 4px #19A4DF,
  }

  @media (max-width: 280px) {
    height: 500px;
    width: 220px;
  }

  @media (min-width: 280px) and (max-width: 600px) {
    height: 400px;
    width: 100%;
  }

  @media (min-width: 400px) and (max-width: 500px) {
    height: 600px;
  }

  @media (min-width: 500px) and (max-width: 600px) {
    height: 450px;
  }

  @media (min-width: 600px) {
    height: 400px;
  }
}

.AnecdoteCard:hover {
  box-shadow:
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #19A4DF,
    0 0 0.8rem #19A4DF,
    0 0 2.8rem #19A4DF,
    inset 0 0 1.3rem #19A4DF;
}

