@use '../../styles/vars';

.AccessNav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.5em;
  .AccessNav__item {
    margin: 0.5em;

    .AccessNav__connection-button {
      background-color: #0078d0;
    }
    .AccessNav__deconnection-button {
      background-color: rgb(231, 84, 84);
    }

    .AccessNav__connection-button, .AccessNav__deconnection-button {
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 600;
      outline: 0;
      padding: 0.5em;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all .3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      transition-duration: 0.4s;
    }
    .Access-nav__deconnection-button:hover {
      background-color: #67bfff;
    }
  }
}
