@use '../../styles/vars';

.AccessNav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.5em;
  .AccessNav__item {
    margin: 0.5em;

    .AccessNav__left-link {
      padding: vars.$gutterXs;
    }

    .AccessNav__left-link--selected {
      padding: vars.$gutterXs;
      text-shadow: 0 0 1px #fff,
                   0 0 4px #19A4DF,
      /* box-shadow: 0 0 .2rem #fff,
                  0 0 .2rem #fff,
                  0 0 2rem #19A4DF,
                  0 0 0.6rem #19A4DF,
                  0 0 1rem #19A4DF,
                  inset 0 0 0.8rem #19A4DF; */
    }

    .AccessNav__connection-button {
      background-color: #0078d0;
    }
    .AccessNav__deconnection-button {
      background-color: rgb(231, 84, 84);
    }

    .AccessNav__connection-button, .AccessNav__deconnection-button {
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      outline: 0;
      padding: 0.5em;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all .3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      transition-duration: 0.4s;
    }
    .Access-nav__deconnection-button:hover {
      background-color: #67bfff;
    }
  }
}
