@use '../../styles/vars';

.access-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.5em;
  .access-nav__item {
    margin: 0.5em;

    .access-nav__deconnection-button {
      background-color: #0078d0;
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
      font-size: vars.$fsBody;
      font-weight: 600;
      outline: 0;
      padding: vars.$gutterSm / 2;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all .3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      transition-duration: 0.4s;
    }

    .access-nav__deconnection-link:before {
      background-color: initial;
      background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
      border-radius: 125px;
      content: "";
      height: 50%;
      left: 4%;
      opacity: .5;
      position: absolute;
      top: 0;
      transition: all .3s;
      width: 92%;
    }

    .access-nav__deconnection-button:hover {
      background-color: #67bfff;
    }
  }
}
